h1{
    color: blueviolet;
}


body{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 15px;
}




#corps{
    padding-left: 100px;
    padding-right: 80px;
    
    padding-top: 20px;
    
}



.rouge{
    color: red;
}